<div class="profile">
  <div class="profile-pic">
    <img src="http://via.placeholder.com/240x320" alt="" />
  </div>
  <div class="profile-content">
    <h3>Himanshu Gohil</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi non
      animi amet tempore impedit dicta aut, in facere rerum labore dolores ex
      ullam eaque velit quo incidunt, quasi, esse mollitia numquam soluta quis.
      Iusto, aliquam. Iure placeat sunt et modi! Nesciunt reiciendis expedita
      reprehenderit obcaecati id, similique harum quia ipsum!
    </p>
    <button mat-raised-button color="primary">Learn More</button>
  </div>
</div>
